@charset "utf-8";

/* modal style */
.modal-login {
  display: none;
  height: 100%;
}

.modal-login.on {
  display: block;
}

.modal-login::after {
  display: block;
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.7;
  z-index: 10;
}

.modal-login .cont-form-login {
  width: 100%;
  max-width: 520px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  z-index: 20;
}

.form-login .label-hold {
  cursor: pointer;
}

.form-login .label-hold::before {
  display: inline-block;
  content: '';
  background: url('../images/check-box.png');
  width: 22px;
  height: 22px;
}

.form-login .inp-hold:checked+.label-hold::before {
  background-image: url('../images/');
}

.form-login a[class^="link"] {
  display: inline-block;
  margin-top: 20px;
  line-height: 18px;
  font-size: 14px;
  color: #767676;
}

.form-login .link-signup::after {
  display: inline-block;
  content: '|';
  margin: 0 12px;
}

.cont-form-login .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 22px 24px;
  box-sizing: content-box;
  background-color: transparent;
}